<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <div class="content">
    <h1 class="text-3xl font-bold underline bg-green-500 text-amber-300">
      Hello world!
    </h1>
    <h2 class="bg-green-600 text-amber-200">HOLA</h2>
    <h1 class="text-3xl underline font-bold bg-green-700 text-amber-100">
      Hello world!
    </h1>

    <button
      class="border-green-600 border-4 bg-blue-700 hover:bg-blue-950 text-white p-4 mt-11 ms-10 rounded-lg mx-auto"
    >
      Enviar
    </button>

    <div
      class="bg-gradient-to-r from-gray-400 to-black size-16 hover:rounded-full"
    >
      Gradient
    </div>

    <div class="bg-amber-300 w-10">HOLA CARACOLA</div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
